<section class="p-3 p-lg-5 d-flex align-items-center">
  <div class="w-100">
    <h2 class="mb-5">PORTAFOLIO</h2>
  
    <div class="accordion card mt-5" *ngFor="let data of json">
      
      <div>
        <div class="card-header bg-primary">
          <!-- <h2 class="mb-0"> -->
            <b class="text-white">{{data.encabezado}}</b>
          <!-- </h2> -->
        </div>
      
        <div class="collapse show">
          <div class="card-body">
      
            <div class="resume-content">
      
              <h3 class="mb-0">
                {{data.titulo}}
              </h3>
              
              <div class="subheading mb-3">{{data.subtitulo}}</div>
              <div class="e2e-inner-html-bound mb-3 text-justify" [innerHTML]="data.descripcion"></div>
      
              <div class="row justify-content-center">
            
                <div class="col-md-3 mb-3" *ngFor="let herra of data.herramientas;">
                    
                    <div class="subheading " >{{herra[0]}}</div>
                    <ul class="fa-ul" >
                        
                        <li *ngFor="let item of herra[1]; let i = index">
                            <i class="{{item.icono}}"></i>{{item.texto}}
                        </li>
    
                    </ul>
    
                </div>
    
              </div>

              
                
              <!-- Add images to <div class="fotorama" data-allowfullscreen="native" data-nav="thumbs" data-keyboard="true"></div> -->
              <div class="fotorama" data-allowfullscreen="native" data-nav="thumbs" data-keyboard="true">
                  <img *ngFor="let image of data.imagenes" src="assets/img/portafolio/{{data.id}}/{{image.imagen}}" attr.data-caption="{{image.orden}}">
              </div>
      
            </div>
          </div>
        </div>
      
      </div>




    </div>
    <!-- FIN ACORDEON -->

  </div>
  <!-- FIN DIV W-100 -->

</section>