<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
      <h2 class="mb-5">EDUCACIÓN</h2>
  
      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let data of json">
        <div class="resume-content">
          <h3 class="mb-0"><a href="{{data.url}}" target="_blank">{{data.titulo}}</a></h3>
          <div class="subheading mb-3">{{data.subtitulo}}</div>
          <!-- <div>Informática - Desarrollo web</div> -->
          <!-- <p>GPA: 3.23</p> -->
          <div class="e2e-inner-html-bound" [innerHTML]="data.descripcion"></div>

        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{data.fecha}}</span>
        </div>
      </div>
  
    </div>
  </section>