<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
      <h2 class="mb-5">EXPERIENCIA</h2>


      <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5" *ngFor="let data of json">
        <div class="resume-content">
          <h3 class="mb-0">{{data.cargo}}</h3>
          <div class="subheading mb-3"><a href="{{data.url}}" target="_blank">{{data.empresa}}</a></div>
          <div class="e2e-inner-html-bound" [innerHTML]="data.descripcion"></div>
        </div>

            <!-- <p class="e2e-inner-html-interpolated">{{data.descripcion}}</p> -->
            <!-- <p>Result of binding to innerHTML:</p> -->

        <div class="resume-date text-md-right">
          <span class="text-primary">{{data.fecha}}</span>
        </div>
      </div>


    </div>

</section>